.flex-centered {
  display: flex;
  align-items: center;
  align-content: center;
}
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  min-height: 40px;
  font-weight: 600;
  box-shadow: 0 0 7px #212121;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.header-logo {
  padding-right: 10px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
}
.header-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
.header-content .header-info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.header-content .header-info .icon-i {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #5a5b5c;
  text-align: center;
  color: #5a5b5c;
}
.header-content .header-info .header-label {
  white-space: nowrap;
  margin: 0 10px;
  color: #5a5b5c;
  font-weight: 500;
}
.header-content .header-info .header-label .label {
  display: none;
}
.desktop .header-content .header-info .header-label .label.header-label-long {
  display: block;
}
.mobile .header-content .header-info .header-label .label.header-label-short {
  display: block;
}
.header-content .header-info .header-label .header-highlight {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
}
.button {
  width: 88px;
  height: 30px;
  padding: 0 14px;
  border: none;
  border-radius: 5px;
  background-color: #4327f5;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
