.flex-centered {
  display: flex;
  align-items: center;
  align-content: center;
}
#gallery {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 900px;
  background: #2a2b2c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#gallery .gallery-container {
  position: relative;
}
#gallery .gallery-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.gallery-item {
  margin: 10px;
  width: 100%;
  height: auto;
  max-width: 335px;
  display: flex;
  cursor: pointer;
  position: relative;
}
.gallery-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 77.6119403%;
}
.gallery-item * {
  pointer-events: none;
  user-select: none;
}
.gallery-item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-lock {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #4327f5;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: #fff;
  font-size: inherit;
  line-height: 1rem;
  font-weight: 500;
}
.image-lock .lock-icon {
  height: 18px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  align-content: flex-start;
}
.image-lock .label-lock,
.image-lock .label-unlock {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  visibility: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.desktop .gallery-item:hover .image-lock {
  opacity: 1;
}
.desktop .gallery-item:hover[data-locked="true"] .label-unlock {
  visibility: visible;
}
.desktop .gallery-item:hover[data-locked="false"] .label-lock {
  visibility: visible;
}
.mobile .gallery-item[data-locked="true"] .image-lock {
  opacity: 1;
}
.mobile .gallery-item .label-unlock {
  visibility: visible;
}
@media screen and (max-width: 1440px) {
  #gallery {
    position: relative;
    bottom: auto;
    max-height: none;
  }
  .gallery-container {
    height: auto;
  }
}
